/**
 * FOR DEVELOPMENT ONLY
 * Control display of right/secondary sidebar through CSS.
 * Not to be used for production.
 */

.sidebar-left .sidebar-secondary {
	@include bp(large) {
		display: none;
	}
}

.sidebar-right .sidebar-secondary {
	display: none;

	@include bp(large) {
		display: block;
	}
}


/**
 * Right and Left Sidebar Containers
 */

.sidebar-right {
	display: none;

	@include bp(large) {
		body.home & {
			display: block;
			float: right;
			margin-left: 3px;
			width: cp(242px, 1024px);
		}
	}
}

.sidebar-left {
	@include bp(medium) {
		float: left;
		width: cp(245px, 640px);
	}

	@include bp(large) {
		width: cp(386px, 1024px);

		body.home & {
			width: cp(242px, 1024px);
		}
	}
}

.sidebar-primary,
.sidebar-secondary {
	background-color: #E9E2DD;
	margin-bottom: 1px;
}
