/**
 * FOR DEVELOPMENT ONLY
 * Control display of right/secondary sidebar through CSS.
 * Not to be used for production.
 */

.sidebar-left .sidebar-secondary {
	@include bp(large) {
		display: none;
	}
}

.sidebar-right .sidebar-secondary {
	display: none;

	@include bp(large) {
		display: block;
	}
}


/**
 * Right and Left Sidebar Containers
 */

.sidebar-right {
	display: none;

	@include bp(large) {
		body.home & {
			display: block;
			float: right;
			margin-left: 3px;
			width: cp(242px, $context-large);
		}
	}
}

.sidebar-left {
	@include bp(medium) {
		float: left;
		width: cp(245px, $context-medium);
	}

	@include bp(large) {
		width: cp(390px, $context-large);

		body.home & {
			width: cp(242px, $context-large);
		}
	}
}

.sidebar-primary,
.sidebar-secondary {
	background-color: #E9E2DD;
	margin-bottom: 1px;
}


/**
 * Styling common to all widgets, whether
 * in the sidebars or the footer
 */

.widget {
	padding: 1em 3.75%;

	.widget-title {
		font-weight: $os-bold;
	}
}


/**
 * Sidebar Widgets
 */

.sidebar .widget {
	border-bottom: 1px solid darken(#E9E2DD, 60%);

	&:last-of-type {
		border-bottom: none;
	}

	.widget-title {
		color: #514530;
		font-size: ce(16px, 13px);
		font-weight: bold;
	}
}


/**
 * Footer Widgets
 */

footer[role="contentinfo"] {
	@extend %clearfix;

	background-color: #FFFFFF;
	clear: both;

	.footer-widget-area {

		@include bp(medium) {
			float: left;
			margin: 0 cp(10px, $context-medium) ce(10px, 13px) 0;
			width: cp(315px, $context-medium);

			/* In the medium view, clear the third widget to the
			   next row and unset the right margin for the second
			   and fourth widgets */

			&:nth-of-type(3) {
				clear: left;
			}

			&:nth-of-type(2),
			&:nth-of-type(4) {
				margin-right: 0;
			}
		}

		@include bp(large) {

			/* In the large view, reset our right margin to be 10px in the
			   large context, and reset the clearing on the third widget so
			   that it floats against the second widget. */

			margin-right: cp(10px, $context-large);
			width: cp(248px, $context-large);

			&:nth-of-type(3) {
				clear: none;
			}
		}
	}
}
