/**
 * Compass CSS3 Mixins
 * These will automatically create all the vendor-prefixed variations for
 * CSS3 properties (such as transition and box-sizing) so you don't have
 * to write them all out each time.
 */
@import "compass/css3";

/**
 * My Sass-Responsive project from GitHub
 */
@import "responsive";

/**
 * Sass Variables
 * Define some of our most commonly
 * used strings as variables.
 */

/* Colors */

$red: #771717;
$gray: #D0D0D0;
$taupe: #85745F;


/**
 * Fonts
 */

@import "fonts";


/**
 * Eric Meyer Reset
 */

@import "reset";


/**
 * Global Properties
 */

@import "global";


/**
 * Site Header
 */

@import "header";


/**
 * Primary Navigation and Site Search
 */

@import "navigation";


/**
 * Main Content
 */

@import "main";


/**
 * Comment List and Form
 */

@import "comments";


/**
 * Widgets
 */

@import "widgets";
