/**
 * Navbar contains primary navigation
 */

.navbar {
	@extend .clear;
	background-color: $red;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	position: relative;

	/**
	 * Apply gradient to the navigation bar in medium viewports and up
	 * (in narrow viewports, the menu visibility toggle receives the
	 * gradient.)
	 */

	@include bp(medium) {
		@include background-image(linear-gradient(top, #951c1c 0, $red 100%));
	}
}


.primary-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	a {
		color: #FFFFFF;
		display: block;
		height: ce(32px, 13px);
		line-height: ce(32px, 13px);
		padding: 0 cp(12px, 320px);
		text-decoration: none;
		text-align: left;
	}

	/**
	 * Menu visibility toggle for narrow viewports
	 */

	.menu-toggle {
		height: ce(32px, 18px);
		line-height: ce(32px, 18px);

		@include background-image(linear-gradient(top, #951c1c 0, $red 100%));
		@include rem(font-size, 18px);

		&:after {
			content: "\f431";
			display: inline-block;
			font-family: Genericons;
			margin-left: 4px;
			vertical-align: bottom;
		}

		&.open:after {
			content: "\f432";
		}

		/**
		 * Hide the visibility toggle in medium and up viewports
		 */

		@include bp(medium) {
			display: none;
		}
	}
}

.primary-navigation-container {

	/**
	 * Hide the primary navigation by default
	 * in narrow viewports, to be revealed by the
	 * visibility toggle.
	 */

	display: none;

	/**
	 * Primary navigation is visible by default
	 * in medium viewports and up.
	 */

	@include bp(medium) {
		display: block;

		@include background-image(linear-gradient(top, #951c1c 0, $red 100%));
	}

	/**
	 * First Level Navigation
	 */

	ul {
		background-color: $red;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			border-top: 1px solid rgba(255, 255, 255, 0.1);

			@include bp(medium) {
				border-top: none;
				float: left;
				position: relative;
				white-space: nowrap;

				&:hover > ul {
					display: block;
				}

				a {
					display: block;
					padding: 0 1em;
				}
			}
		}

		a:hover,
		a:active,
		a:focus,
		li.current_page_item > a {
			background-color: rgba(255, 255, 255, 0.1);
		}

		/**
		 * Second Level Navigation
		 */

		ul.sub-menu {

			a {
				padding: 0 7.5%;

				@include bp(medium) {
					padding: 0 1em;
				}
			}

			@include bp(medium) {
				box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);
				display: none;
				position: absolute;

				li {
					float: none;

					@include bp(medium) {
						border-top: 1px solid rgba(255, 255, 255, 0.1);

						&:first-child {
							border-top: none;
						}
					}

					a {
						display: block;
						min-width: 180px;
					}
				}

				ul {
					position: absolute;
					top: 0;
					left: 100%;
				}
			}

			ul a {
				padding: 0 11.25%;

				@include bp(medium) {
					padding: 0 1em;
				}
			}
		}
	}
}
