header[role="banner"] {

  background: url(http://lorempixel.com/320/255/nature/2) no-repeat center center;
  background-size: cover;
  line-height: 1.2;
  padding: ce(26px, 13px) cp(60px, 320px);
  text-align: center;

  a {
    color: #FFFFFF;
    text-decoration: none;
  }

  .logo {
    display: block;
    margin: 0 auto ce(30px, 13px);
  }

  h1,
  .subhead {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  }

  h1 {
    font-size: ce(26px, 13px);
    margin-bottom: ce(9px, 26px);
  }

  .subhead {
    font-size: ce(16px, 13px);
  }
}
