main {
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1px;
  padding: ce(18px, 13px) 3.75%;

  h1 {
    font-size: ce(18px, 13px);
    font-weight: bold;
    margin-bottom: 1em;
  }

  p {
    margin: 0.5em 0;
  }
}
