/**
 * Archive Next/Previous Navigation
 */

%paging-navigation-pseudo-elements {
	background-color: $taupe;
	border-radius: 50%;
	color: #FFFFFF;
	display: block;
	font-family: genericons;
	font-size: ce(36px, 18px);
	font-style: normal;
	height: ce(40px, 36px);
	left: 50%;
	line-height: ce(40px, 36px);
	margin-left: ce(-20px, 36px);
	position: absolute;
	text-align: center;
	top: -100%;
	width: ce(40px, 36px);

	@include transition(background-color 0.2s linear);
}

.paging-navigation {
	@extend %clearfix;
	margin-top: 5em;

	a {
		color: $taupe;
		display: block;
		font-size: ce(18px, 13px);
		font-style: italic;
		line-height: 2;
		position: relative;

		@include transition(color 0.2s linear);

		&:hover, &:active, &:focus {
			color: $red;

			&:before, &:after {
				background-color: $red;
			}
		}
	}

	.nav-previous a {
		float: right;

		&:after {
			@extend %paging-navigation-pseudo-elements;
			content: '\f429';
		}
	}

	.nav-next a {
		float: left;

		&:before {
			@extend %paging-navigation-pseudo-elements;
			content: '\f430';
		}
	}
}
