.widget {
  padding: 1em 3.75%;
}


/**
 * Primary and Secondary Sidebars
 */

.sidebar .widget {
  background-color: #e9e2dd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1px;
}

.sidebar .widget h1 {
  color: #514530;
  font-size: 1.23076923076923em; /* 16px / 13px */
  font-weight: bold;
}


/**
 * Footer Widget Areas
 */

footer[role="contentinfo"] {
  @extend .clearfix;

  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.53846153846154em; /* 20px / 13px */

  @media only all and (min-width: $bp-medium) {
    clear: both;

    .footer-widget-area {
      float: left;
      margin-right: cp(10px, 640px);
      width: cp(315px, 640px);

      @include rem(margin-bottom, 10px);

      &:nth-of-type(3) {
        clear: left;
      }

      &:nth-of-type(2), &:nth-of-type(4) {
        margin-right: 0;
      }
    }
  }
}


/**
 * Home page
 * (where the two sidebars are grouped together for narrow &
 * medium views)
 */

.sidebars {

  @media only all and (min-width: $bp-medium) {
    float: left;
    margin: 0 cp(10px, 640px) ce(10px, 13px) 0;
    width: cp(210px, 640px);
  }
}
