/**
 * Sass Variables
 * Define some of our most commonly
 * used strings as variables.
 */

/* Colors */

$red: #771717;
$gray: #D0D0D0;
$taupe: #85745F;

/* Responsive Breakpoints */

$bp-medium: 600px;

/* Default Font Size */

$default-font-size: 13px !default;


/**
 * Functions
 * Formulae to return needed values in our code.
 */

@function calc-percent($target, $context) {
  @return ($target / $context) * 100%;
}

@function cp($target, $context) {
  @return calc-percent($target, $context);
}

@function calc-em($target, $context) {
  @return ($target / $context) * 1em;
}

@function ce($target, $context) {
  @return calc-em($target, $context);
}

@function calc-rem($target, $context: $default-font-size) {
	@return ($target / $context) * 1rem;
}

@function cr($target, $context: $default-font-size) {
	@return calc-rem($target, $context);
}


/**
 * Mixins
 * Use these when you need to calculate and then output CSS
 */

@mixin rem($property, $value, $context: $default-font-size) {
	#{$property}: $value;
	#{$property}: cr($value, $context);
}

/**
 * Fonts
 */

@import "fonts";


/**
 * Eric Meyer Reset
 */

@import "reset";


/**
 * Global Properties
 */

@import "global";


/**
 * Site Header
 */

@import "header";


/**
 * Primary Navigation and Site Search
 */

@import "navigation";


/**
 * Main Content
 */

@import "main";


/**
 * Widgets
 */

@import "widgets";
