body { margin: 0; padding: 0; }
main { display: block; }

/**
 * Section 2.1.2: Fluid Grids
 */
/*
.main-column, .right-column {
  border: 16px solid;
  box-sizing: border-box;
  float: left;
  padding: 16px 1.666666666667%; /* 16px / 960px *!/
}
.main-column {
  background-color: #dfbf9c;
  border-color: #be813d;
  margin-right: 2.604166666667%; /* 25px / 960px *!/
  width: 65.625%; /* 630px / 960px *!/
}
.right-column {
  background-color: #92b4d1;
  border-color: #3570a4;
  width: 31.770833333333%; /* 305px / 960px *!/
}
*/

/**
 * Section 2.1.3: CSS3 Media Queries
 */
.main-column, .right-column {
  border: 1em solid;
  box-sizing: border-box;
  float: none;
  min-height: 15em;
  padding: 1em 1.666666666667%; /* 16px / 960px */
}
.main-column {
  background-color: #dfbf9c;
  border-color: #be813d;
  margin-right: 0;
  width: 100%;
}
.right-column {
  background-color: #92b4d1;
  border-color: #3570a4;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .main-column, .right-column {
    float: left;
    min-height: 25em;
  }
  .main-column {
    margin-right: 2.604166666667%; /* 25px / 960px */
    width: 65.625%; /* 630px / 960px */
  }
  .right-column {
    width: 31.770833333333%; /* 305px / 960px */
  }
}
